* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
    color: rgb(114, 189, 70);
    font-weight: 800;
    text-decoration: none;
}

body {
    background-color: rgb(0, 7, 0);
    color: white
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(16px);
    display: flex;
    gap: 16px;
    align-items: center;

    position: fixed;
    top: 32px;
    left: 5%;
    right: 5%;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);

    z-index: 1;
}


#banner {
    height: 600px;
    background-image: url("https://th.bing.com/th/id/OIP.OFMDrjlUSeYPzyxOivoEPgHaE1?rs=1&pid=ImgDetMain");
    background-size: cover;
    background-position: center;
    mask-image: url("/images/bgMask-desktop.svg");
    mask-size: cover;
    mask-position: bottom;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px


}

#info-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 32px;
    color: rgb(114, 189, 70);

    >h1 {
        font-size: 42px;
        font-weight: 800;
    }

    >p {
        font-size: 22px;
        max-width: 800px;
    }

}


#grid-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 32px
}

.g-link {
    color: black;
    font-weight: 800;
    font-size: 22px;
    text-decoration: none;
    padding: 32px;
    background-color: gray;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.green {
    background-color: rgb(114, 189, 70);
}

.yellow {
    background-color: yellow;
}

.wide {
    grid-column: span 2;
}

@media only screen and (max-width: 800px) {
    #grid-links{
        display:flex;
        flex-direction: column;
    }
}

#articles-container{
    display: flex;
    gap: 32px;
    overflow-x: hidden;
}

.article{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width:540px;
    width: 100%;
    min-width: 450px;

    color:rgb(114, 189, 70);
    > img {
        width: 100%;
        border-radius: 16px;
    }
}


.primary-button{
    
}
